{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
</head>
<body>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    
    <aside class="sidebar">
        <label for="nav-toggle" class="toggle-button">
            <span class="icon"></span>
        </label>
        
        <nav class="menu-items">
            <div class="item"><a href="{% url 'home' %}"><span>Inicio</span> <small>Dashboard</small></a></div>
            <div class="item"><a href="{% url 'login' %}"><span>Simulador de Cotas</span> <small>Análise de Perfil e Notas</small></a></div>
            <div class="item"><a href="{% url 'regras_cotas' %}"><span>Dicionário de Cotas</span> <small>Regras e Siglas</small></a></div>
        </nav>
    </aside>

    <main class="content">
        <header>
            <p>Welcome</p>
        </header>
        <section class="terminal-box">
            {% if messages %}
                <ul style="list-style: none; padding: 0; color: #ffeb3b; margin-bottom: 20px;">
                    {% for message in messages %}
                        <li>[{{ message.tags|upper }}] {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </section>
    </main>

</body>
</html>