{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Control Portfolio</title>
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
</head>
<body>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    
    <aside class="sidebar">
        <label for="nav-toggle" class="toggle-button">
            <span class="icon"></span>
        </label>
        
        <nav class="menu-items">
            <div class="item"><a href="{% url 'home' %}"><span>Inicio</span> <small>Dashboard</small></div>
         <div class="item"><a href="{% url 'oque_eu_sei_sobre_voce' %}"><span>O que eu sei sobre voce?</span> <small></small></a></div> 
   
        </nav>
    </aside>

    <main class="content">
        <header>
            <h1>SYSTEM STATUS: ONLINE</h1>
            <p>Welcome</p>
        </header>
        <section class="terminal-box">
            {% block content %}{% endblock %}
        </section>
    </main>

</body>
</html>