{% extends 'home/index.html' %} 
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/oque_eu_sei_sobre_voce.css' %}">

<div class="terminal-window">
    <span class="label">Resolução:</span>
    <span id="screen" class="value">--</span>
</div>

<div class="terminal-window">
    <span class="label">Bateria:</span>
    <span id="battery" class="value">--</span>
</div>

<div class="terminal-window">
    <span class="label">Localização:</span>
    <span id="timezone" class="value">--</span>
</div>

<div class="terminal-window">
    <span class="label">GPU:</span>
    <span id="gpu" class="value">--</span>
</div>
<div class="terminal-window">
    <span class="label">Núcleos:</span>
    <span id="cores" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Memoria:</span>
    <span id="memory" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Conexão:</span>
    <span id="connection" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Linguas:</span>
    <span id="languages" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Permissão da Câmera:</span>
    <span id="camera_permission" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Do Not Track:</span>
    <span id="do_not_track" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Pontos de Toque:</span>
    <span id="touch_points" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Uptime:</span>
    <span id="uptime_ms" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">País:</span>
    <span id="country" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Código do País:</span>
    <span id="countryCode" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Região:</span>
    <span id="region" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Nome da Região:</span>
    <span id="regionName" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Cidade:</span>
    <span id="city" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">CEP:</span>
    <span id="zip" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Cordenadas Relativas:</span>
    <p><span id="lat" class="value">--</span>,<span id="lon" class="value">--</span></p>
</div>  

<div class="terminal-window">
    <span class="label">ISP:</span>
    <span id="isp" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">Organização:</span>
    <span id="org" class="value">--</span>
</div>  
<div class="terminal-window">
    <span class="label">AS:</span>
    <span id="as" class="value">--</span>
</div>  
 
  
  <script type="module">
    import { sendData } from '/static/home/main.js';

    // Executa a função quando o DOM estiver carregado
    document.addEventListener('DOMContentLoaded', sendData);
  </script>
{% endblock %}